
			
html, body {
	height: 100%;
}

body {
	background-color: #f8f8f8;
	margin: 0;
	font-family: 'Nunito', sans-serif;
	overflow: hidden;
}

a {
	color: orange;
}

#info {
	position: absolute;
	width: 100%;
	color: black;
	padding-top: 25px;
	padding-left: 60px;
	font-family: 'Nunito', sans-serif;
	font-size: 25px;
	font-weight: bolder;
	text-align: center;
	z-index: 1;
}

#menu {
	position: absolute;
	bottom: 30px;
	width: 100%;
	text-align: center;
}

#index {
  	margin-top: 0 auto;
  	position: relative;
}

#content {
 	position: absolute;
	float: left;
	top:0px;
	left:50px;
	bottom: 0px;
	width: 350px;				
	height: 700px;
	border: 1px solid rgba(0, 78, 78,0.3);
	color: rgba(0, 78, 78,0.75);
	padding: 20px;
}

#container {
	
  	height: 100%;
  	margin-left: 450px;
  	position: relative;
}

#Goggle {
	font-size: 23px;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	color: rgba (0, 78, 78,0.75);
}

#GoggleInfo {
	font-size: 15px;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	color: rgba (0, 78, 78,0.5);
}

.element {
	width: 420px;
	height: 560px;
	box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
	border: 1px solid rgba (0, 78, 78,0.25);
	text-align: center;
	cursor: default;
}

.element:hover {
	box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
	border: 0px solid rgba (0, 78, 78,0.75);
}

.initial {
	background-color:transparent;
	border: 1px solid rgba (0, 78, 78,0.25);
}

.initial:hover {
	background-color: rgba(87,87,87,1);
	border: 1px solid rgba(188,143,43,0.25);
}

.highlight {
	background-color: rgba(255,103,0,1);
	border: 1px solid rgba(188,143,43,0.5);
}

.bright {
	border: 3px solid rgba(255,255,255,1);
}

.element .number {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 12px;
	font-family: 'Nunito', sans-serif;
	color: rgba(0, 78, 78,0.75);
	display: none;
}

.element .symbol {
	position: absolute;
	top: 40px;
	left: 10px;
	right: 0px;
	font-size: 60px;
	font-weight: bold;
	font-family: 'Nunito', sans-serif;
	color: rgba(255,255,255,0.75);
	text-shadow: 0 0 10px rgba(0,255,255,0.95);
}

.element .details {
	position: absolute;
	bottom: 70px;
	left: 5px;
	right: 5px;
	font-size: 50px;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	color: rgba (0, 78, 78,0.75);
}


.btn {
	color: rgba(50,50,50,0.7);
	background: transparent;
	font-family: 'Nunito', sans-serif;
	font-weight: lighter;
	font-size: 15px;
	outline: 4px solid rgba(100,100,100,0.2);
	border: 0px;
/*	padding: 5px 10px;*/
	cursor: pointer;
}
.btn:hover{
	background-color: rgba(100,100,100,0.3);
}
.btn:active{
	color: #000000;
	background-color: rgba(0,255,255,0.75);
}