.node circle {
	fill: #999;
}

.node text{
	font-size: 9px;
	font-family: sans-serif;
	opacity: 1;
}

.link {
	fill: teal;
	fill-opacity:0.2;
	stroke: #777;
	stroke-opacity: 0.7;
	stroke-width: 1px;
}
